@charset "UTF-8";

/* content */
.container{position:relative; top: 0; z-index:0;}

.main-visual{ display: flex; align-items: center; justify-content: center; height: 44rem; background-image: url(../image/main/main-visual.jpg); background-repeat: repeat; background-position: center; background-size: cover;}
.visual-text{margin-top:-6rem; font-size: 6rem; font-weight:600; color:#ffffff;}


/* main-content */
.main-content{ max-width: 140rem; margin-top: -14.6rem; margin-left: auto; margin-right: auto;}
.search-book--tab__ul{display: flex;}
.search-book--tab__item{  height:6.1rem; flex:1;background:rgba(0,0,0,0.33); border:1px solid rgba(255,255,255,0.2); border-bottom:0; box-sizing: border-box;}
.search-book--tab__item+.search-book--tab__item{margin-left: -1px;}
.search-book--tab__link{ display:flex; align-items: center; justify-content: center; width:100%; height:100%; font-size:1.8rem; color: #c7c4c8;}
.search-book--tab__item.is-active{ position:relative; background: #ffffff; }
.search-book--tab__item.is-active::before{position: absolute;top: -1px; left:-1px; width:calc(100% + 2px); height:3px; background: #6b3aae;content: "";}
.search-book--tab__item.is-active .search-book--tab__link{font-size:2.2rem; color: #6b3aae; font-weight:500;}
.search-book--tab__content{padding:3rem 6rem; background:#ffffff; box-shadow: 1.5rem 1.5rem 2.8rem rgba(15,0,35,.15);}

.form-search-book__top{display: flex;  }
.form-search-book{position: relative; height:5.5rem; border:2px solid #6b3aae; box-sizing: border-box; flex:1;}
.form-search-book__input{ width:calc(100% - 7rem ); height:100%; border:0; text-indent: 2rem;}
.form-search-book__input::placeholder{font-size:1.8rem; color: #747478;}
.form-search-book__button{position:absolute; top:0; right:0; width:7rem; height:100%; background: url(../image/common/icon/icon_finder_b.png) no-repeat center; background-size: 2.5rem; border: 0;}

.search-book-detail{margin-left: .5rem;}
.search-book-detail__button{display:flex; align-items: center; justify-content: center; width:14.8rem; height:100%; padding:0; font-size:1.8rem; color:#ffffff; background-color: #b784ff; border:1px solid #aa6dff; text-shadow: .3rem .3rem .5rem rgba(35,15,64,0.18);}
.search-book-detail__button::after{display: inline-block; width:1.4rem; height:.9rem; margin-left:1rem; background: url(../image/common/icon/arrow-bottom__white.png) no-repeat center; background-size:cover; content:""}

.form-search-book__bottom{ display:none; margin-top:3rem;}

.icon-booktable{width:4.2rem; height:4.2rem;margin-right:1rem;}
.icon-wrap{display: flex; align-items: center;  font-size: 1.8rem; font-weight: 500;}
.icon-year{background: url(../image/main/icon-year.png);}
.icon-filed{background: url(../image/main/icon-filed.png);}
.icon-nation{background: url(../image/main/icon-nation.png);}
.icon-lang{background: url(../image/main/icon-lang.png);}
.table-book tr{height: 8.6rem;}
.table-book th{padding-left: 2rem;}
.table-book td{padding-left:2rem; padding-top:2rem; padding-bottom:2rem; vertical-align: middle;}

.form-search-book__bottom__inner .ui-buttons{margin-top: 2rem;}

/* 리스트 */
.search-total{display: flex; align-items: flex-end; padding-bottom:2rem; border-bottom:1px solid;}
.search-total__left{display:flex;}
.book-list__type{margin-left:5rem;}
.book-list__type ul{display:flex;}
.book-list{margin-top: 5rem;}
.book-list__wrap{ margin-top: 5rem; padding-bottom:5rem; border-bottom:1px solid;}
/* .book-list__type-item{margin: 0 2rem;} */
.book-list__type-item+.book-list__type-item{position: relative;}
.book-list__type-item+.book-list__type-item::before{display: inline-block; margin: 0 2rem; width:1px; height:1.3rem; background:#c4c4c4; content: "";}
.book-list__type-item.is-active a{color:#6b3aae;}
.book-list__type-item a{color:#747478; font-weight: 500;}

.book-list__list{display: flex; flex-wrap: wrap; margin: -2.5rem;}
.book-list__item{width:50%; padding: 2.5rem; box-sizing: border-box;}
.book-list__link{display:flex; width:100%; height:100%;}


.book-list__info{ width:calc(100% - 22rem); margin-left: 4rem; flex:1;}
.book-list__image{ position:relative; width: 18rem; height: 26.3rem; outline:1px solid #e4e4e4; box-sizing: border-box; overflow: hidden;  flex:none;}
.book-list__image img{ display:inline-block; position: absolute; top:50%; left:50%; max-width: 100%; max-height:100%;  transform: translate(-50%, -50%); transition: all .5s;}
.book-list__image::before{position: absolute; width:100%; height:100%; background: linear-gradient(180deg, rgba(255,255,255,0) 30%, rgba(0,0,0,1) 100%); content: ""; z-index: 1;}

.book-list__caption{ display:flex; align-items:center; justify-content: center; position: absolute; left:1rem; bottom:1rem; width:6.8rem; height:3.4rem; color:#ffffff; border: 1px solid #ffffff; transition:all .1s; z-index: 1;}
.book-list__link:hover .book-list__image{ box-shadow: 1.2rem 1.2rem 2.2rem rgba(0,0,0,0.22); outline-color: #b784ff; outline-width: 2px;}
.book-list__link:hover .book-list__image img{transform: translate(-50%, -50%) scale(1.1);}
.book-list__link:hover .book-list__caption{background:#b784ff; border: solid 2px #b381f9;}

.book-title{ width:100%; margin-top:1rem; text-overflow: ellipsis; white-space: nowrap; overflow:hidden; font-size:2.6rem; font-weight: 500;}
.book-title__for{ margin-top:1rem; text-overflow: ellipsis; white-space: nowrap; overflow:hidden; font-size: 2rem; font-weight: 300; color: #747478; }

.book-list__info__detail{ position:relative; margin-top:2.5rem;  padding:3rem 2rem 3rem 0;}
.book-list__info__detail::before{position: absolute; top:0; left:-19rem; width:calc(100% + 19rem); height:100%; background:#f6f7f9; content:""; z-index: -1;}
.book-list__info__detail::after{position: absolute; top:3rem; left: 33%; width:1px; height:calc(100% - 6rem); background:#e2e0e7; content:""; z-index: -1;}
.book-list__info__detail dl{display:flex;}
.book-list__info__detail dl+dl{margin-top: 1.2rem;}
.book-list__info__detail dl dt{width: 15rem; color:#928f95; font-weight: 500; flex:none;}
.book-list__info__detail dl dd{padding-left:4rem; font-weight: 500; line-height: normal;}

.search-book__mobile-header{display: none;}
.search-book__mobile-title{ font-size: 18px; font-weight: 600;}
.search-book__close-button{width: 15px; height:15px; background: url(../image/common/icon/icon-close__black.png) no-repeat center; background-size: cover;}

/* is-mobile */
.is-mobile .form-search-book__bottom{position: fixed; top:0; left:0; width:100%; height:100%; margin:0;  padding:43px 10px; background:rgba(0,0,0,0.5); z-index: 2; box-sizing: border-box;}
.is-mobile .form-search-book__bottom__inner{ display:flex; flex-direction: column; height:100%; background:#ffffff; border-radius: 10px; overflow:hidden;}



/*============================= responsive =============================*/

@media screen and (max-width:1400px){
    .book-list{padding:0 3rem;}
}

@media screen and (max-width:1200px){
    .book-list__info__detail dl dt{width:30%;}
}

@media screen and (max-width:1024px){
    .book-list__info__detail dl dt{width:30%; line-height: normal;}
    .book-list__image{width:35%; height:0; padding-bottom:51%;}
}

@media screen and (max-width:720px){
    .main-visual{height:259px}
    .main-content{margin-top:-50px;}
    .search-book--tab__item{height:50px;}
    .visual-text{ display: flex; height:calc(100% - 30px); margin:0; align-items: center;  font-size:36px;}
    
    .book-list__list{flex-direction: column; margin:-23px -16px}
    .book-list__item{width:100%; padding:23px 16px;}
    .book-list__info{width:calc(100% - 42rem); margin-left:16px}
    .search-total{align-items: flex-start;}
    .search-total__left{flex-direction: column;}
    .book-list__type{margin-top:26px; margin-left:0;}
    /* .book-list__image{width:47.565%; padding-bottom: 69.515%;} */
    .book-list__image{width:40.565%; padding-bottom: 59.515%;}
    .search-book, .book-list{padding:0 16px;}
    .book-list{margin-top:30px}
    
    .ui-button--height-50{height: 27px;}
    .ui-button{padding:0 11px;}
    .search-book--tab__content{padding:16px;}
    .form-search-book__button{width:42px;}

    .search-book-detail__button{width:70px;}
    .search-book-detail__button::after{display:none;}
    
    .icon-wrap{font-size:16px;}
    .book-title{margin-top:20px; font-size: 15px;}
    .book-title__for{font-size: 13px;}
    .table-book table, .table-book table tbody, .table-book table tr, .table-book table th, .table-book table td{display: block; width:100%; box-sizing: border-box;}
    .table-book table th{background-color: #f0f1f4;}
    .icon-booktable{width:34px; height:34px; background-size: cover;}
    .table-book table tr{height: auto;}

    .form-search-book__bottom__inner .ui-buttons{ margin:0; padding:10px 16px 20px 16px; border-top:1px solid #cecece; flex:none;}
    .form-search-book__bottom__inner .ui-button{flex:1; height:40px; font-size:15px;}
    .table-book .ui-check-list__list li{width:calc(100% / 3)}

    .search-book__mobile-header{display: flex; justify-content: space-between; padding:20px 16px 10px 16px; border-bottom:1px solid #cecece;}
    .table-book{height:100%;  overflow-y: scroll;}
    .table-book table th{border-color:#e4e4e4;}
    .table-book>table tr:first-child>th{border-top:0;}
    .table-book>table tr:last-child>td{border-bottom:0;}

    .book-list__info__detail{padding:20px 10px 20px 0 }
    .book-list__info__detail::after{ top:20px; height: calc(100% - 40px);}
    .book-list__info__detail::before{left:-140px; width:calc(100% + 140px); height:100%; }
    .book-list__info__detail dl+dl{margin-top:12px;}

    .search-book--tab__item .search-book--tab__link{font-size:13px}
    .search-book--tab__item.is-active .search-book--tab__link{font-size:16px;}
    
    
}

@media screen and (min-width:360px){
    
    
}