@charset "UTF-8";

/* content */
.container{position:relative; top: 0; z-index:0;}

.main-visual{ display: flex; align-items: center; justify-content: center; height: 44rem; background-image: url(../image/main/main-visual.jpg); background-repeat: repeat; background-position: center; background-size: cover;}
.visual-text{font-size: 6rem; color:#ffffff;}


/* main-content */
.main-content{ max-width: 140rem; margin-top: -14.6rem; margin-left: auto; margin-right: auto;}
.search-book--tab__link{font-size:2.2rem; color:#ffffff;}










/* responsive */

@media screen and (max-width:475px){
    .books .swiper-slide{width:auto;}

    /* 210802 */
    .slide_books .swiper-slide .tit{min-height:60px;font-size:15px;line-height:20px;}
    .categories .con > div > a{width:19.5%;height:70px;margin-top:0.3%;font-size:11px;border:1px solid #9bacff}
    .categories .con > div > a + a{margin-left:0.2%;}
    .categories .con > div > a:nth-child(3n+1){margin-left:0;}
    .categories .con > div > a:nth-child(5n){margin-left:0.2%;}
    .authors .swiper-button-prev, .authors .swiper-container-rtl .swiper-button-next{width:30px;height:55px;}
    .authors .swiper-button-next, .authors .swiper-container-rtl .swiper-button-prev{width:30px;height:55px;}
    .bottom .news .swiper-slide{min-height: 140px;width: 150px;margin-right: 20px;}
    .bottom .trends .left .item p.tit{font-size:15px;}
    .bottom .trends .left .item p{font-size:11px;}
    .bottom .trends .left{padding:0;margin-bottom:30px;}
    .bottom .trends .right .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{width:12px;height:12px;}
    /* 210802 */

	section.visualMain > .tabs > .swiper-wrapper > .swiper-slide{font-size:12px;font-weight:400;}
    .swiper-container.cover{height:540px;}
    section.top{padding-top:20px;background: rgb(35,19,68);
    background: -moz-linear-gradient(25deg, rgba(11, 9, 32,1) 0%, rgb(11 9 32) 29%, rgba(11,9,32,1) 70%, rgba(11,9,32,1) 100%);
    background: -webkit-linear-gradient(25deg, rgba(11, 9, 32,1) 0%, rgb(11 9 32) 29%, rgba(11,9,32,1) 70%, rgba(11,9,32,1) 100%);
    background: linear-gradient(25deg, rgba(11, 9, 32,1) 0%, rgb(11 9 32) 29%, rgba(11,9,32,1) 70%, rgba(11,9,32,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#231344",endColorstr="#0b0920",GradientType=1);}
	.slide_books > .tit{margin:0;margin-bottom:10px;font-size:20px;color:#fff;font-weight: 500;}
	.slide_books img{width:100%;height: 280px;}
	.slide_books .swiper-container{padding:20px 1px 0px 0;}
    .slide_books{margin-top:40px;}
    .video_wrap .tabs p span:first-child{font-size:15px;}
    .video_wrap .tabs p span{font-size:15px;}
    .video_wrap .tabs p strong{font-size:15px;}
    .video_wrap .tabs > p{-ms-display: flexbox;display: -moz-box;display: -ms-flexbox;display:-webkit-flex;display:flex;align-items:flex-end;justify-content: space-evenly;;margin-bottom:30px}
    .video_wrap .tabs .swiper-slide img{width: 80px;height: 60px;}
    .cat_tab .swiper-slide.on button{font-size:13px;}
	.cat_tab button{font-size:13px;}
    .cat_tab .swiper-wrapper{flex-wrap: wrap;justify-content:center;padding: 0px 0px;}
    .authors{padding:40px 0 0;}
	.authors .swiper-slide{transition:all .5s ease;margin-left:5px;}
	.bottom .news .swiper-slide p a{overflow:hidden;text-overflow:ellipsis;line-height:1.5;height:10em;word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:8;-webkit-box-orient:vertical;font-size:14px;font-weight:400;line-height:1.45em;color: #ffffff;}
	.bottom .news .swiper-slide p{margin:0; margin-bottom:-10px;}
	.bottom .trends .right .swiper-container{padding-bottom:0px;}
    .bottom .news .swiper-container{padding:20px 0 0 0;}
	.bottom .news .swiper-slide span{font-size:11px;}
    .bottom .news{margin-top:0px}
	.bottom .news{height:220px;}
    .bottom{padding-top:1px;}
	.trends{margin-top:40px;}
    .bottom .trends .right{padding:0;}
}