@charset "UTF-8";

/* 서브 공통 */
.sub-content__inner{ position:relative; max-width: 140rem; margin: 0 auto; background: #ffffff;}
.sub-visual{ display: flex; align-items: center; justify-content: center; height: 44rem; background-image: url(../image/sub/visual_sub.jpg); background-repeat: repeat; background-position: center; background-size: cover;}
.visual-text{ font-size: 6rem; font-weight:600; color:#ffffff;}
.sub-visual .visual-text{margin-top: 0;}


/* view */
.view-top__inner{ display:flex; align-items: flex-start; position:relative; margin-top:-25rem; margin-bottom: 6rem;}
.view-top__inner::before{position: absolute; right:-100%; width:100%; height:100%; background:#ffffff; content:""}
.view-book-thumbnail{ /* position:absolute; */ max-width:28.8rem; max-height:42rem; margin:-6rem 5rem 0; box-shadow: .8rem .8rem 2.8rem rgba(15, 0, 35, .18);}

.book-lang, .book-lang span{color:#6c489d; font-size: 2.4rem; font-weight: 500; }
.book-lang{display: flex; align-items: center;}
.lang-img{width:5.2rem; height:3.4rem; margin-right:2rem; border:1px solid #f5f4f6; box-sizing: border-box; border-radius: 0 0 2rem 0 ; overflow: hidden;}
.lang-img img{max-width: 100%; max-height: 100%;}

.view-book__title{ margin-top:4rem; font-size:3.6rem; font-weight:500; white-space: nowrap; overflow:hidden; text-overflow: ellipsis; margin-right:5rem;}
.view-book__title-for{ margin-top:3rem; color:#747478; font-size: 22px; font-weight: 300; line-height: 2.8rem; }
.view-top__right{display: flex; flex-direction: column; width:calc(100% - 38.8rem); margin-top:5rem; /* margin-left: 38.8rem; */ }
.view-top__bottom{margin-top:6.7rem;}

.title-table{margin-bottom:2rem; text-shadow: 0 0 .3rem rgba(35, 15, 64, 0.11); font-size: 2.6rem; font-weight: 500; color: #4a237f; }

.ui-button--look-book{width:20.8rem; padding:0;}

.table-book__view th, .table-book__view td{border:0; vertical-align: top;}
.table-book__view th{ padding:1.2rem 4rem; font-size: 1.8rem; font-weight:500; color: #766e7e; text-shadow: 0 0 .3rem rgba(35, 15, 64, 0.11); text-align: left;     letter-spacing: -1px;}
.table-book__view.table-ver>table{border-top:1px solid #000000; border-bottom:1px solid #e2e0e7;}
.table-book__view td{padding:1.2rem 4rem; font-size:2rem; font-weight:500;}
.table-book__view td a{color:#000000;}
.table-book__view--table>tbody>tr>td{ position: relative; padding:2.8rem 0; z-index: 1;}
.table-book__view--table>tbody>tr>td::before{position: absolute; top:0; left:0; width:23rem; height:100%; background-color: #f6f7f9; border-right:1px solid #c2bfc8; content:""; z-index: -1;}
.table-book__view--in{table-layout: fixed;}

.sub-item{margin-top:6rem;}
.view-bottom__button{ display:flex; justify-content: center; align-items: center; text-align: center; margin-top:4rem;}
 
.view-book-thumbnail__popup{display: block; position:relative; width:100%; height:100%;}
.view-book-thumbnail__popup:hover::before{position:absolute; width:100%; height:100%; background: rgba(0, 0, 0, .5); content:""}
.view-book-thumbnail__popup:hover::after{position:absolute; top:calc(50% - 4.6rem); left:50%; width:4.6rem; height:4.6rem; background: url(../image/common/icon/icon_finder.png) no-repeat center; background-size: cover; transform: translate(-50%, 50%); content:""}
.view-book-thumbnail__popup img{ display:block; max-width:100%; max-height:100%;}

.book-tags__list{display:flex;}
.book-tags__item{ display:flex; align-items:center; justify-content: center;  min-width:11rem; height:5rem; padding:0 2rem; background:#f2f3f6; font-weight:500; color:#523a74; box-sizing: border-box;}
.book-tags__item+.book-tags__item{margin-left: 1rem;}

.thumbnail-image img{width:100%;}
.shop-link{word-break: break-all;}

/* request */
.request-wrap__inner{padding-top:4rem}
.request-top__text{margin-bottom:1rem;}
.require-text{padding-left: 1rem; font-size:1.6rem;}
.ui-require{position: relative;	width: 0; height:0; }
.ui-require::before{ position:absolute; left: 3px; width:10px; height:4px; content:"*"; color:#e70000;}

.table-normal tr+tr{border-top:1px solid #c2bfc8;}
.table-normal th, .table-normal td{ height:7rem; padding:10px 20px; font-size:1.8rem; box-sizing: border-box; letter-spacing: -1px; border:0;}
.table-normal th{text-align: left; font-weight: 500; border-right-color:#c2bfc8;}
.table-normal>table{border-top:1px solid #594872; border-bottom:1px solid #594872}
.table-normal.table-ver tr:first-child th, .table-normal.table-ver tr:first-child td{border-top:0;}
.flex-row{display: flex;}
.flex-cell{flex:1;}
.flex-cell+.flex-cell{margin-left: 2rem;}
.table-item+.table-item{margin-top:2rem}
.table-normal th span{font-size:1.6rem; color:#747478;}

.filebox input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

.filebox label { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 12.3rem; height: 4.8rem; margin-right: .6rem; font-size: 1.7rem;  cursor: pointer; box-sizing: border-box; flex:none; }

.filebox .upload-name { display: inline-block; font-size: inherit; font-family: inherit; line-height: normal; vertical-align: middle; background: #ffffff; border: 1px solid #dddddd; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.filebox .upload-name.is-inputed{border-color:#594872;}
.request-bottom__button{margin-toP:4rem; text-align:center;}


.view-prevNext{ position: fixed; top:50%; width:2.8rem; height:4.9rem; background-color: transparent; font-size:0;}
.view-prev{ left:6%; height:4.9rem; background-image: url(../image/common/icon/view-prev.png); color:#000000;}
.view-next{ right:6%; height:4.9rem; background-image: url(../image/common/icon/view-next.png); color:#000000;}
.view-bottom__button .is-disabled{cursor: default; opacity: 0.16;}


/*============================= responsive =============================*/
@media screen and (max-width:1700px){

	.view-next{right:2%}
	.view-prev{left:2%}

}

@media screen and (max-width:1500px){
	.view-prevNext{position: relative; top:0; width:9.3rem; height:5rem; border: solid 1px #cfcad5; background-color: #f6f7f9; font-size:15px;}
	.view-prev{ left:0; background-image:none;}
	.view-prev__icon{ display:inline-block; width:6px; height:10px; margin-right:6px; background-image: url(../image/common/icon/icon-view_prev.png); background-size: cover; }

	.view-next{right:0; background-image:none;}
	.view-next__icon{ display:inline-block; width:6px; height:10px; margin-left:6px; background-image: url(../image/common/icon/icon-view_next.png); background-size: cover; }

	.view-prevNext.is-disabled{cursor: pointer; opacity: 1;}
}

@media screen and (max-width:768px){
    .view-top__inner{flex-direction: column; margin-top: -159px;}
	.sub-content__inner{background: transparent;}
	.view-book-thumbnail{ width:calc(100% - 32px); height:auto; margin:0 auto;}
	.view-book-thumbnail__popup img{width:100%;}
	.view-top__right{width:100%; margin-top:30px; padding:0 16px; box-sizing: border-box;}
	.view-book__title-for{line-height: 20px; font-size:14px; color:#747478;}
	.view-book__title-for br{display:none;}
	.view-top__bottom{margin-top: 3rem}
	.view-bottom{padding:0 16px;}
	.lang-img{width:52px; height:34px;}
	.book-lang span{font-size:20px;}
	.view-book__title{font-size:18px; line-height: 26px; margin-right: 0; overflow: visible;
		white-space: normal;}
	.ui-button--look-book{ width:auto; height: 40px; padding:0 10px; font-size: 15px;}
	.ui-button--look-book span{font-size: 13px;}
}

@media screen and (max-width:720px){
	.sub-visual{height:260px;}

	.table-book__view--table, .table-book__view--table>tbody{display: block; width:100%;}
    .table-book__view--table>tbody>tr, .table-book__view--table>tbody>tr>td{display: flex; flex-direction: column;}
	.table-book__view--table>tbody>tr>td+td{ margin-top:-10px; padding-top:0;}
	.book-tags__item{ min-width: 88px; height:40px; font-size:15px;}
	.book-tags__item+.book-tags__item{margin-left:6px;}
	
	.view-top__bottom .ui-buttons-wrap{flex-direction: column;}
	.view-top__bottom .ui-buttons-wrap .ui-buttons--right{justify-content: flex-start; margin:0 -.5rem; margin-top: 5px;}
	.table-book__view th, .table-book__view td, .table-book__view td a{font-size: 15px; line-height: normal;}

	.table-book__view th, .table-book__view td{padding: 8px 13px;}
	.table-book__view--table>tbody>tr>td{padding:10px 0}
	.table-book__view--in>colgroup>col:nth-child(1){width:18rem !important;}
	.table-book__view--table>tbody>tr>td::before{width:18rem;}
	/* .table-book__view--table>tbody>tr>td::before{width:calc(100% - 26rem); max-width:23rem} */

	.view-book-thumbnail__popup:hover::after, .view-book-thumbnail__popup:hover::before{display: none;}
	.view-bottom__button .ui-button--height-50{height:40px; font-size: 15px;}

	.view-prevNext{height:40px;}
	
	.request-wrap__inner{padding-left: 16px; padding-right: 16px;}
	.request-wrap__inner .form-flex{flex-direction: column;}
	.request-wrap__inner .flex-cell+.flex-cell{margin-left: 0; margin-top:2rem;}

	.table-normal th, .table-normal td{font-size: 15px; line-height: normal;}
	.table-normal th span{font-size: 13px;}
	.filebox{flex-direction: column;}
	.filebox label{margin-bottom: 6px;}
	.ui-select__custom-title{font-size: 13px;}
} 




